body {
    background: #272525;
    color: #000000;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
  }

#position{
    position:relative;
}
#canvas{
    position:absolute;
    top: 10px;
    left: 10px;
}

#debug{
    background: #807979;
    position: absolute;
    left: 10px;
}

